{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-console": "warn",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["error", {"code":  120}],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "sort-imports": ["error", {
      "ignoreCase": false,
      "ignoreDeclarationSort": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
      "allowSeparatedGroups": false
    }]
  }
}