@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

html {
  height: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient(#B16BB4, #4569DD);
  background: -moz-linear-gradient(#B16BB4, #4569DD);
  background: -ms-linear-gradient(#B16BB4, #4569DD);
  background: -o-linear-gradient(#B16BB4, #4569DD);
  background: linear-gradient(#B16BB4, #4569DD);
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}